 <!--Footer-->
 <footer class="bg-white">
    <div class="container mx-auto px-8">
      <div class="w-full flex flex-col md:flex-row py-6">
        <div class="flex-1 mb-6 text-black">
          <a class="text-pink-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
            PELUDO HEART
          </a>
        </div>
        
        <div class="flex-1">
            <p class="uppercase text-gray-500 md:mb-6">Contacto</p>
            <ul class="list-reset mb-6">
                <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="https://api.whatsapp.com/send?phone=+51943960010" class="no-underline hover:underline text-gray-800 hover:text-pink-500">+51 943960010</a>
                </li>
                <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                    <a href="https://api.whatsapp.com/send?phone=+51968863047" class="no-underline hover:underline text-gray-800 hover:text-pink-500">+51 968863047</a>
                </li>
            </ul>
        </div>

        <div class="flex-1">
          <p class="uppercase text-gray-500 md:mb-6">Vistitanos</p>

          <ul class="list-reset mb-6">
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a href="#" class="no-underline hover:underline text-gray-800 hover:text-pink-500">
                Jr, 2 De Mayo #514, Ayacucho
              </a>
            </li>
            <!-- <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a href="#" class="no-underline hover:underline text-gray-800 hover:text-pink-500">About Us</a>
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <a href="#" class="no-underline hover:underline text-gray-800 hover:text-pink-500">Contact</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    
  </footer>